/* Bar Styling */

.chart {
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}

.chart .negatives {

}


.default {}

div.bar {
  vertical-align: bottom;
}

div.bar.default {
  background-color: #429ef4;
}

.label .default {
  color: #666;
}

div.bar > span {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
}

div.bar > span > b {
  position: relative;
  padding: 0;
  margin: 0;
}

.bar {
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

b.barLabelColor {
  color: #fff;
}

.value-top {
  top: 1rem;
}

.value-bottom {
  bottom: 1rem;
}


/*this.barColor = "#429ef4";
  this.barLabelColor = '#fff';
  this.labelColor = "#666";
  this.axisColor = "#000";
  this.chartBGColor = "#fff";*/



