/* Bar Styling */

.target {
  margin-left: 1rem;
}

.chart {
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  display: inline-block;
  margin: 1rem;
  width: 100%;
  margin-left: 1rem;
  left: 1rem;
  position: relative;
}

h2.chartHeader {
  text-align : center;
  margin-left: 1rem;
}

span.label {
  color: #666;
  display: inline-block;
  outline: solid 1px black;
  padding: 0.5rem;
  transform: rotate(-45deg);
  transform-origin: right top;
}

.xLabels {
    margin-left: 1rem;
}

.xAxis {
  margin-top: 0.5rem;
  padding: 1rem 0;
  text-align: center;
  margin-left: 1rem;
}

div.yAxis {
    width: 300px;
    transform: rotate(-90deg);
    transform-origin: 100% bottom;
    position: relative;
    left: -300px;
    margin-left: 1rem;
}

.yAxis > span {
  display: inline-block;
  position: relative;
  margin-right: -1rem;
  bottom: 30%;
  text-align: center;
}

.default {}

div.bar {
  vertical-align: bottom;
}

div.bar.default {
  background-color: #429ef4;
}


div.bar > span {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
}

div.bar > span > b {
  position: relative;
  padding: 0;
  margin: 0;
}

.bar {
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

b.barLabelColor {
  color: #fff;
}

.value-top {
  top: 1rem;
}

.value-bottom {
  bottom: 1rem;
}

/*this.barColor = "#429ef4";
  this.barLabelColor = '#fff';
  this.labelColor = "#666";
  this.axisColor = "#000";
  this.chartBGColor = "#fff";*/



